@use './theme';

.dummyH1 {
  margin: 0;
  line-height: 0;
}

.centered {
  width: min(1360px, calc(100% - 80px));
  border-bottom: 1px solid theme.$gray;
  height: 129px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggleSlideshow {
  font-family: inherit;
  border: none;
  background-color: white;
  color: theme.$dark-gray;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.57px;
  height: 35px;
  display: grid;
  place-items: center;
}

.toggleSlideshow:hover {
  cursor: pointer;
  color: black;
}

@media screen and (max-width: 1200px) {
  .centered {
    width: 100%;
    padding: 0 40px;
    height: 89px;

  };
}