.container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  left: 0;
}

.imageAndCloseButton {
  height: 780px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 31px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 5px));
}

.button {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  height: 37px;
  letter-spacing: 3px;
  background-color: transparent;
  border: none;
  color: white;
}

.button:hover {
  cursor: pointer;
  opacity: 0.25;
}

.image {
  display: block;
}