@use './theme'; 

.content {
  margin: 100px auto 75px;
  width: min(1360px, calc(100% - 80px));
  height: 624px;
  position: relative;
}

.enlargeImgButton {
  width: 152px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 16px;
  top: 504px;
  border: none;
  display: grid;
  place-items: center;
}

.enlargeImgButton:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.25);
}

.buttonIconAndText {
  width: 120px;
  height: 13px;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.buttonText {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 2.14px;
  color: white;
}

.headingBox {
  width: 445px;
  height: 302px;
  position: absolute;
  top: 0;
  left: 410px;
  background: linear-gradient(
    90deg,
    white 0%,
    white 75px,
    rgba(0, 0, 0, 0) 75px,
    rgba(0, 0, 0, 0) 100%
  );
  padding-left: 65px;
}

.h2 {
  font-size: 56px;
  line-height: 64px;
  width: 380px;
  font-weight: 700;
}

.subheading {
  margin-top: 24px;
  font-size: 15px;
  line-height: 19px;
  color: theme.$dark-gray;
}

.artistPic {
  position: absolute;
  bottom: 0;
  left: 505px;
}

.year {
  color: theme.$light-gray;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 200px;
  font-weight: 700;
  line-height: 150px;
}

.description {
  width: 350px;
  color: theme.$dark-gray;
  font-size: 14px;
  line-height: 28px;
  font-weight: 700;
  position: absolute;
  top: 115px;
  right: 125px;
}

.wikiLink {
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 1.93px;
  text-decoration-line: underline;
  color: theme.$dark-gray;
  position: absolute;
  bottom: 43px;
  right: 373px;
  line-height: 31px;
}

.wikiLink:hover {
  color: black;
}

@media screen and (max-width: 1400px) {
  .year {
    top: 225px;
    left: 505px;
  }

  .description {
    right: 75px;
    top: 148px;
  }

  .wikiLink {
    right: 323px;
  }

  .headingBox, .h2 {
    width: 540px;
  }
}

@media screen and (max-width: 1200px) {
  .content {
    margin-top: 40px;
    margin-bottom: 0;
    height: 1055px;
    width: min(768px, calc(100% - 80px));
  }
  .year {
    top: 624px;
    left: 0;
  }

  .description {
    left: 115px;
    top: 699px;
    width: 457px;
  }

  .headingBoxAndArtistPic {
    position: absolute;
    left: 243px;
    top: 0;
  }

  .headingBox {
    position: static;
    width: 445px;
    height: auto;
    background-color: white;
    padding-bottom: 67px;
  }

  .h2 {
    width: 380px;
  }

  .artistPic {
    position: static;
    float: right;
    transform: translateX(-55px);
  }

  .wikiLink {
    left: 115px;
    right: auto;
    bottom: 53px;
  }
}