.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: min(310px, 100%);
}

@media screen and (max-width: 1200px) {
  .container {
    width: min(324px, 100%);
  }
}

@media screen and (max-width: 720px) {
  .container {
  gap: 24px;
  width: min(327px, 100%);
  }
}