.container {
  border: none;
  padding: 0;
  width: 310px;
  position: relative;
}

.container:hover {
  cursor: pointer;
}

.hoverHighlight {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.hoverHighlight:hover {
  opacity: 1;
}


.gradient {
  width: 100%;
  height: 150px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  position: absolute;
  left: 0;
  bottom: 0;
}

.text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 32px 32px 32px;
  color: white;
  text-align: left;
  width: 100%;

}

.name {
  font-weight: 700;
  font-size: 24px;
}

.artist {
  margin-top: 7px;
  font-weight: 400;
  font-size: 13px;
  opacity: 0.75;
}