.container {
  width: min(1360px, calc(100% - 80px));
  margin: 40px auto;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.md {
  display: none;
}

.sm {
  display: none;
}

// Only 2 column layout rendered.
@media screen and (max-width: 1200px) {
  .lg {
    display: none;
  }

  .md {
    display: block;
  }
}

// Only single column layout rendered.
@media screen and (max-width: 720px) {
  .md {
    display: none;
  }

  .sm {
    display: block;
  }

  .container {
    margin: 24px auto;
  }
}